:root {
  --clr-coral-red: #f53838;
  --clr-grayish-blue: #4f5665;
  --clr-dark-blue: #0b132a;
  --clr-black: #000;
  --clr-white: #fff;
  --fs-14: 1.4rem;
  --fs-16: 1.6rem;
  --fs-18: 1.8rem;
  --fs-20: 2rem;
  --fs-25: 2.5rem;
  --fs-30: 3rem;
  --fs-35: 3.5rem;
  --fs-50: 5rem;
  --lh-30: 3rem;
  --lh-45: 4.5rem;
  --lh-50: 5rem;
  --lh-70: 7rem;
  --fw-400: 400;
  --fw-500: 500;
  --fw-700: 700;
  --default-gap: 5rem;
  --radius-50: 5rem;
  --radius-10: 1rem;
  --animation-timing: 0.3s;
  --desktop-width: 110rem;
}

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  display: inline-block;
}

button {
  display: block;
  background-color: transparent;
}

ul,
ol {
  list-style: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

/* End CSS Reset */
body {
  position: relative;
  font-family: "Rubik", sans-serif;
  color: var(--clr-dark-blue);
  background-color: var(--clr-white);
}
body::before {
  content: "";
  position: absolute;
  background-color: #f8f8f8;
  width: 100vw;
  height: 55rem;
  bottom: 0;
  z-index: -1;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: var(--desktop-width);
  gap: 6rem;
  margin: 0 auto;
}

.header {
  height: 12rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .burger-menu__checkbox,
.header .burger-menu {
  display: none;
}
.header .logo-content {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.header .logo-content__logo {
  width: 3.5rem;
}
.header .logo-content__name {
  font-size: var(--fs-20);
  font-weight: var(--fw-500);
}
.header .logo-content__name--vpn {
  font-weight: var(--fw-700);
}
.header .links {
  display: flex;
  align-items: center;
  gap: 4rem;
  font-size: 1.4rem;
  font-weight: var(--fw-400);
  color: var(--clr-grayish-blue);
}
.header .links .link {
  transition: var(--animation-timing);
}
.header .links .link:hover {
  color: var(--clr-coral-red);
}
.header .button {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  font-weight: var(--fw-500);
  color: var(--clr-dark-blue);
  white-space: nowrap;
}
.header .button__sign-in {
  transition: var(--animation-timing);
}
.header .button__sign-in:hover {
  color: var(--clr-coral-red);
}
.header .button__sign-up {
  color: var(--clr-coral-red);
  border: 0.15rem solid var(--clr-coral-red);
  border-radius: var(--radius-50);
  margin-left: 3rem;
  padding: 1.2rem 4rem;
  transition: var(--animation-timing);
}
.header .button__sign-up:hover {
  background-color: var(--clr-coral-red);
  color: var(--clr-white);
}

.about {
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 5rem;
}
.about__image {
  margin-right: -5rem;
  margin-top: -3rem;
  width: 100%;
}
.about__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: calc(var(--default-gap) / 2);
}
.about__title {
  font-size: 5rem;
  font-weight: var(--fw-500);
  line-height: var(--lh-70);
}
.about__title .brand {
  font-weight: var(--fw-700);
}
.about__description {
  font-size: var(--fs-16);
  font-weight: var(--fw-400);
  line-height: var(--lh-30);
  color: var(--clr-grayish-blue);
}
.about__button {
  align-self: flex-start;
  background-color: var(--clr-coral-red);
  border: 0.2rem solid var(--clr-coral-red);
  color: var(--clr-white);
  border-radius: var(--radius-10);
  padding: 2rem 7.5rem;
  font-size: 1.6rem;
  font-weight: var(--fw-700);
  box-shadow: 0 3rem 3.5rem -2rem rgba(245, 56, 56, 0.95);
  margin-top: 3rem;
  transition: var(--animation-timing);
}
.about__button:hover {
  color: var(--clr-coral-red);
  background-color: var(--clr-white);
}

.stats {
  display: flex;
  height: 20rem;
  width: 112rem;
  padding: 3.7rem 0;
  border-radius: var(--radius-10);
  box-shadow: 0px 36px 36px -9px hsla(232.5, 48%, 9.8%, 0.06);
  margin-bottom: 4rem;
}
.stats-column {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  flex: 1;
}
.stats-column:nth-child(2) {
  padding: 0 4rem;
  border-left: 0.3rem solid #eeeff2;
  border-right: 0.3rem solid #eeeff2;
}
.stats-icon {
  width: 5.5rem;
}
.stats-data {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
.stats-name {
  font-size: 2rem;
  font-weight: var(--fw-400);
  color: var(--clr-grayish-blue);
}
.stats-number {
  font-size: 2.5rem;
  font-weight: var(--fw-700);
}

.features {
  display: flex;
  gap: 17rem;
  margin-bottom: 12rem;
}
.features__image {
  width: 50rem;
  margin-left: 3rem;
}
.features__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: calc(var(--default-gap) / 2);
  align-self: flex-end;
}
.features__title {
  font-size: 3.5rem;
  font-weight: var(--fw-500);
  line-height: var(--lh-50);
}
.features__description {
  font-size: 1.6rem;
  font-weight: var(--fw-400);
  line-height: var(--lh-30);
  color: var(--clr-grayish-blue);
  align-self: flex-end;
}

.features__list {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}
.features__list .feature {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.features__list .feature__icon {
  width: 2.4rem;
}
.features__list .feature__description {
  font-size: 1.4rem;
  font-weight: var(--fw-400);
  color: var(--clr-grayish-blue);
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 2.2rem;
}
.section__title {
  font-size: 3.5rem;
  font-weight: var(--fw-500);
  text-align: center;
  line-height: var(--lh-50);
}
.section__description {
  font-size: 1.6rem;
  font-weight: var(--fw-400);
  line-height: var(--lh-30);
  color: var(--clr-grayish-blue);
  margin-bottom: 3.5rem;
  text-align: center;
}
.section__pic {
  width: 100%;
}

.brand {
  font-weight: var(--fw-500);
}

.cards {
  display: flex;
  justify-content: center;
  gap: 5rem;
  margin-top: calc(var(--default-padding) * 2);
  margin-bottom: 5rem;
}
.cards .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.2rem;
  background-color: var(--clr-white);
  border: 0.2rem solid #dddddd;
  border-radius: var(--radius-10);
  padding: 7rem 7rem;
  transition: var(--animation-timing);
}
.cards .card:hover {
  border-color: var(--clr-coral-red);
}
.cards .card__image {
  width: 15rem;
}
.cards .card__title {
  font-size: 1.8rem;
  font-weight: var(--fw-500);
}
.cards .card__price {
  font-size: 2.5rem;
  font-weight: var(--fw-500);
  margin-top: auto;
  margin-bottom: -1.5rem;
}
.cards .card__price span {
  font-size: 2.5rem;
  color: var(--clr-grayish-blue);
  font-weight: var(--fw-400);
}
.cards .card__button {
  font-size: 1.6rem;
  font-weight: var(--fw-700);
  text-align: center;
  color: var(--clr-coral-red);
  border: 0.2rem solid var(--clr-coral-red);
  border-radius: var(--radius-50);
  width: 100%;
  padding: 1.2rem 6rem;
  transition: var(--animation-timing);
}
.cards .card__button:hover {
  background-color: var(--clr-coral-red);
  color: var(--clr-white);
  box-shadow: 0 3rem 3.5rem -2rem rgba(245, 56, 56, 0.95);
}

.location__description {
  margin-bottom: 6rem;
}
.location .sponsors {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 3rem 0;
}
.location .sponsors__pic {
  width: 20rem;
}

.testimonials .testimonials-container {
  display: flex;
  max-width: 110rem;
  gap: 5rem;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  padding-bottom: 1rem;
}
.testimonials .testimonials-container .testimonial {
  width: 40rem;
  border: 0.22rem solid #dddddd;
  border-radius: var(--radius-10);
  padding: 3rem 3rem 4rem;
  flex-shrink: 0;
}
.testimonials .testimonials-container .testimonial--highlighted {
  border-color: var(--clr-coral-red);
}
.testimonials .testimonials-container .testimonial-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.testimonials .testimonials-container .testimonial-header-data {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.testimonials .testimonials-container .testimonial-image {
  width: 5rem;
}
.testimonials .testimonials-container .testimonial:nth-of-type(2) .testimonial-image {
  filter: blur(3px);
}
.testimonials .testimonials-container .testimonial-name {
  font-size: var(--fs-18);
  font-weight: var(--fw-500);
}
.testimonials .testimonials-container .testimonial-location {
  font-size: var(--fs-14);
  font-weight: var(--fw-400);
  color: var(--clr-grayish-blue);
}
.testimonials .testimonials-container .testimonial-rating {
  font-size: var(--fs-16);
  font-weight: var(--fw-400);
}
.testimonials .testimonials-container .testimonial-star {
  width: 1.3rem;
  margin-left: 1rem;
}
.testimonials .testimonials-container .testimonial-content {
  font-size: var(--fs-16);
  font-weight: var(--fw-400);
  line-height: var(--lh-30);
}
.testimonials .testimonials-controls {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.testimonials .testimonials-controls__indicators > .indicator {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #dde0e4;
  margin-right: 1rem;
  border-radius: 50%;
}
.testimonials .testimonials-controls__indicators > .indicator-active {
  display: inline-block;
  width: 4.5rem;
  height: 1.5rem;
  background-color: var(--clr-coral-red);
  border-radius: var(--radius-50);
  margin-right: 1.2rem;
}
.testimonials .testimonials-controls__arrows > .arrow {
  font-size: 2.5rem;
  border: 0.25rem solid var(--clr-coral-red);
  border-radius: 50%;
  padding: 1.5rem;
}
.testimonials .testimonials-controls__arrows > .arrow--left {
  color: var(--clr-coral-red);
  margin-right: 1.2rem;
  transition: var(--animation-timing);
}
.testimonials .testimonials-controls__arrows > .arrow--left:hover {
  color: var(--clr-white);
  background-color: var(--clr-coral-red);
}
.testimonials .testimonials-controls__arrows > .arrow--right {
  color: var(--clr-white);
  background-color: var(--clr-coral-red);
}

.subscribe {
  background-color: var(--clr-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 110rem;
  padding: 5.5rem 7rem;
  border-radius: var(--radius-10);
  box-shadow: 0 0 3.5rem hsla(233, 49%, 10%, 0.059);
}
.subscribe__content-title {
  font-size: var(--fs-35);
  font-weight: var(--fw-500);
  line-height: var(--lh-45);
  margin-bottom: 1rem;
}
.subscribe__content-description {
  font-size: 1.6rem;
  font-weight: var(--fw-400);
  color: var(--clr-grayish-blue);
}
.subscribe__button {
  background-color: var(--clr-coral-red);
  border: 0.2rem solid var(--clr-coral-red);
  color: var(--clr-white);
  border-radius: var(--radius-10);
  padding: 2rem 6.5rem;
  font-size: 1.6rem;
  font-weight: var(--fw-700);
  box-shadow: 0 3rem 3.5rem -2rem rgba(245, 56, 56, 0.95);
  transition: var(--animation-timing);
}
.subscribe__button:hover {
  color: var(--clr-coral-red);
  background-color: var(--clr-white);
}

.footer {
  display: flex;
  gap: 12rem;
  margin-bottom: 11rem;
}
.footer__about {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  flex-basis: 32rem;
  gap: 2.5rem;
  margin-right: 10rem;
}
.footer__section .section__heading {
  font-size: var(--fs-18);
  font-weight: var(--fw-500);
  margin-bottom: 2rem;
  color: var(--clr-dark-blue);
}
.footer__section .links .link {
  font-size: 1.6rem;
  font-weight: var(--fw-400);
  margin-bottom: 2rem;
  color: var(--clr-grayish-blue);
  cursor: pointer;
  transition: var(--animation-timing);
}
.footer__section .links .link:hover {
  color: var(--clr-coral-red);
}
.footer .footer__logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.footer .footer__logo .logo__pic {
  width: 3.5rem;
}
.footer .footer__logo .logo__name {
  font-size: var(--fs-20);
  font-weight: var(--fw-500);
}
.footer .footer__logo .logo__name--vpn {
  font-weight: var(--fw-700);
}
.footer .description {
  font-size: var(--fs-16);
  font-weight: var(--fw-400);
  line-height: var(--lh-30);
  color: var(--clr-grayish-blue);
}
.footer .footer__icons {
  display: flex;
  gap: 2rem;
}
.footer .footer__icons .footer__icon {
  background-color: var(--clr-white);
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--clr-coral-red);
  width: 3.3rem;
  height: 3.3rem;
  border-radius: 50%;
  box-shadow: 0 1.5rem 1.8rem 0 rgba(17, 19, 35, 0.08);
  cursor: pointer;
  transition: var(--animation-timing);
}
.footer .footer__icons .footer__icon:hover {
  transform: scale(1.2);
}
.footer .copy-right {
  color: #afb5c0;
  font-size: var(--fs-16);
}
.footer .copy-right .logo__name--vpn {
  font-weight: var(--fw-700);
}

@media (max-width: 1200px) {
  html {
    font-size: 8px;
  }
}
@media (max-width: 900px) {
  html {
    font-size: 6px;
  }
}
@media (max-width: 700px) {
  .header {
    justify-content: space-around;
  }
  .about {
    flex-direction: column;
    align-items: center;
  }
  .about__image {
    margin: 0;
    width: 50%;
    order: -1;
  }
  .about__content {
    gap: calc(var(--default-gap) / 4);
  }
  .about__title {
    font-size: 4rem;
  }
  .stats {
    width: 70%;
    margin: 0 auto;
  }
  .stats-column:nth-child(2) {
    padding: 0;
  }
  .features {
    display: flex;
    gap: 5rem;
    margin-bottom: 5rem;
    padding: 0 4rem;
  }
  .features__image {
    max-width: 100%;
    margin: 0;
  }
  .features__content {
    gap: calc(var(--default-gap) / 3);
  }
  .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 2rem;
  }
  .cards .card:nth-of-type(3) {
    grid-column: 1/-1;
    gap: 3rem;
    background-color: var(--clr-white);
    border: 0.2rem solid #dddddd;
    border-radius: var(--radius-10);
    padding: 4rem 6rem;
    transition: var(--animation-timing);
  }
  .cards .card:nth-of-type(3):hover {
    box-shadow: 1rem 1rem 3.5rem rgba(255, 242, 0, 0.242);
  }
  .cards .card:nth-of-type(3) .card__button {
    width: 70%;
    padding: 1.2rem 6rem;
    border-color: gold;
    color: gold;
  }
  .cards .card:nth-of-type(3) .card__button:hover {
    color: #000;
    background-color: gold;
    box-shadow: 0 3rem 3.5rem -2rem rgb(255, 244, 32);
  }
  .cards .card:nth-of-type(3) .card__image {
    display: none;
  }
  .cards .card:nth-of-type(3) .features__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
  }
  .cards .card:nth-of-type(3) .features__list .feature {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }
  .cards .card:nth-of-type(3) .features__list .feature__icon {
    width: 2.4rem;
  }
  .cards .card:nth-of-type(3) .features__list .feature__description {
    font-size: 1.4rem;
    font-weight: var(--fw-400);
    color: var(--clr-grayish-blue);
  }
  .cards .card:nth-of-type(3) .card__title {
    color: gold;
    font-size: 6rem;
  }
  .section__pic {
    width: 80%;
  }
  .location__description {
    margin-bottom: 4rem;
  }
  .location .sponsors {
    width: 100%;
  }
  .location .sponsors__pic {
    width: 15rem;
  }
  .testimonials .testimonials-container {
    max-width: 90rem;
    padding-bottom: 2rem;
  }
  .testimonials .testimonials-container .testimonial {
    width: 30rem;
    padding-bottom: 1rem;
  }
  .testimonials .testimonials-controls {
    width: 80%;
  }
  .subscribe {
    width: 90rem;
    margin: 0 auto;
  }
  .footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 0 4rem;
  }
}
@media (max-width: 500px) {
  body::before {
    height: 100rem;
  }
  .container {
    max-width: 60rem;
    padding: 0 3rem;
  }
  .header {
    position: relative;
    justify-content: space-between;
    height: 10rem;
  }
  .header .burger-menu {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    gap: 0.6rem;
  }
  .header .burger-menu__bar {
    width: 25px;
    height: 3px;
    background-color: #333;
    border-radius: 5rem;
    transition: var(--animation-timing);
  }
  .header .links {
    font-weight: var(--fw-700);
    display: none;
  }
  .header .button {
    display: none;
  }
  .about__image {
    width: 100%;
  }
  .stats-column {
    flex-direction: column;
    gap: 1rem;
  }
  .stats-data {
    align-items: center;
  }
  .header:has(.burger-menu__checkbox:checked) .links {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 0;
    width: 100%;
    top: 12rem;
    background-color: var(--clr-white);
    z-index: 1;
  }
  .header:has(.burger-menu__checkbox:checked) .links .link {
    width: 100%;
    text-align: center;
    font-size: var(--fs-35);
    padding: 1rem 0;
    border-bottom: 0.1rem solid var(--clr-coral-red);
    transition: var(--animation-timing);
  }
  .header:has(.burger-menu__checkbox:checked) .links .link:hover {
    background-color: var(--clr-coral-red);
    color: var(--clr-dark-blue);
    animation: bar 0.15s alternate linear;
  }
  @keyframes bar {
    0% {
      background-color: #ff9191;
      width: 50%;
    }
    50% {
      background-color: #fe5a5a;
      width: 66.6%;
    }
    100% {
      background-color: #fe3535;
      width: 100%;
    }
  }
  body:has(.burger-menu__checkbox:checked) .about,
  .stats {
    filter: blur(1.5px);
  }
  @keyframes navigation {
    0% {
      opacity: 0;
      transform: scale(1.2);
    }
    50% {
      filter: blur(1.5px);
    }
    100% {
      transform: scale(1);
    }
  }
  .header:has(.burger-menu__checkbox:checked) .burger-menu__bar:nth-child(1) {
    transform: translateY(9px) rotate(40deg);
    background-color: var(--clr-coral-red);
  }
  .header:has(.burger-menu__checkbox:checked) .burger-menu__bar:nth-child(2) {
    opacity: 0;
    visibility: hidden;
  }
  .header:has(.burger-menu__checkbox:checked) .burger-menu__bar:nth-child(3) {
    transform: translateY(-4px) rotate(-40deg);
  }
  .stats {
    width: 100%;
    margin: 0 auto;
  }
  .stats-column:nth-child(2) {
    padding: 0;
  }
  .features {
    flex-direction: column;
  }
  .cards {
    grid-template-columns: repeat(1, 1fr);
  }
  .cards .card {
    padding: 4rem 6rem;
  }
  .cards .card .card__button {
    width: 70%;
    padding: 1.2rem 6rem;
  }
  .cards .card .card__image {
    display: none;
  }
  .cards .card .features__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
  }
  .cards .card .features__list .feature {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }
  .cards .card .features__list .feature__description {
    font-size: 1.4rem;
    font-weight: var(--fw-400);
    color: var(--clr-grayish-blue);
  }
  .cards .card .card__title {
    font-size: 6rem;
  }
  .location .sponsors__pic {
    width: 8rem;
  }
  .testimonials .testimonials-container {
    max-width: 45rem;
  }
  .subscribe {
    flex-direction: column;
    width: 100%;
    padding: 3rem;
  }
  .subscribe__content {
    margin-bottom: 3rem;
  }
  .subscribe__content-title {
    text-align: center;
    margin-bottom: 3rem;
  }
  .subscribe__content-description {
    text-align: center;
  }
  .footer {
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
  }
}/*# sourceMappingURL=style.css.map */